 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  color: black;
}


.container h1 {
  text-align: center;
}

.input {
  position: relative;
  margin-block: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  width: 40%;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background: transparent;
  color: black;
  border: solid black 0.5px;
  border-radius: 10px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: solid 1px black;
  margin-inline: 0.5rem;
  border-radius: 5px;
  width: 30px;
  cursor: pointer;
  transition: all ease-in-out .4s;
}
.searchButton:active,
.searchButton:hover {
  border: 2.5px solid green;
}

.heroButton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.heroButton:active,
.heroButton:hover {
  color: white;
  background: black;
}
.heroImage {
  min-height: 400px;
  margin-inline: 1rem;
  border: dotted;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Black ops one";
  background-color: antiquewhite;
}
.heroImage img {
  margin-block: 1rem;
  border-radius: 10px;
}
